body {
  font-family: Comic Sans MS, Arial;
  text-align: center;
  margin: 0;
  font-size: 35px;
  color: #f90c0c;
  background-color: antiquewhite;
}

/* CONTAINER */
.container {
  padding: 40px;
}

/* SCREENS */
.screen {
  display: none;
  min-height: 100vh;
}

.active {
  display: block;
}

/* IMAGE */
.main-img {
  width: 350px;
  display: block;
  margin: 50px auto;
}

/* TEXT */
.big-text {
  font-size: 50px;
  font-weight: bold;
  animation: pop 0.3s ease;
  color: #4ed820;
}

/* BUTTON */
button {
  padding: 12px 25px;
  font-size: 20px;
  border: none;
  background: #ff4d6d;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.bottom-nav{
  text-align:center;
  margin-top:30px;
  padding-bottom:20px;
}

.bottom-nav button{
  padding:14px 22px;
  border:none;
  border-radius:14px;
  background:#e4335f;
  color:white;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
  transition:0.2s;
}

.bottom-nav button:hover{
  transform:scale(1.05);
}

/* CHOICES */
.choices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.choice {
  width: 140px;
  cursor: pointer;
  transition: 0.3s;
}

.choice:hover {
  transform: scale(1.1);
}

/* FEEDBACK */
.correct {
  color: green;
  font-size: 38px;
  font-weight: bold;
  animation: pop 0.3s ease;
}

.wrong {
  color: red;
  font-size: 38px;
  font-weight: bold;
  animation: shake 0.3s;
}

/* ANIMATIONS */
@keyframes pop {
  0% { transform: scale(0.7); }
  100% { transform: scale(1); }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}