body {
  font-family: Comic Sans MS, Arial;
  background: linear-gradient(135deg, #c1f0f6, #ffd6e0);
  text-align: center;
}

.container {
  padding: 40px;
}

h1 {
  font-size: 35px;
  color: #ff4d6d;
}

.subtitle {
  margin-bottom: 30px;
  font-size: 18px;
}

.lesson-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lesson-btn {
  padding: 18px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Active */
.lesson-btn.active {
  background-color: #4caf50;
  color: white;
}

.lesson-btn.active:hover {
  transform: scale(1.05);
}


/* Back */
.back-btn {
  margin-top: 30px;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  background: #ff4d6d;
  color: white;
  cursor: pointer;
}